header,
nav,
ul,
.info-user{
  display:flex;
  align-items:center;
}

header{
  position:relative;
  /*max-width:1300px;
  min-width:700px; */

  width:80%;

  height:12rem;

  justify-self: center;
  gap:clamp(1rem, 4vw, 5rem);

  border-bottom:2px solid var(--light-grayish-blue);

  margin-bottom:8rem;
}
.menu-container{
  width:260px;

  position:fixed;
  top:0;
  bottom:0;
  left:0;
  z-index: 15;

  background:#FFFFFF;
  box-shadow:300px 50px 0px 50px rgba(0,0,0,0.5);
  
  padding:2rem 2rem;

  animation: left-to-right 0.7s forwards;
}

header > img{
  height:1.7rem;
}

.menu{
  display:none;
}
nav{
  width:100%;

  justify-content:space-between;
  gap:2.8rem;
}

.header-list{
  gap:clamp(1rem, 2vw, 5rem);
}

.header-list li{
  padding:4.8rem 0;
}
.header-list li:hover{
  border-bottom:4px solid var(--orange);
  cursor:pointer;
}

.info-user{
  gap:clamp(1rem, 3vw, 3rem);
}

.cart > img {
  width:2.3rem;
}

.cart{
  position:relative;
}
.quant-product-cart{
  position:absolute;
  top:-2px;
  right:-2px;

  font-size:9px;
  color:var(--light-grayish-blue);

  background:var(--orange);

  width:14px;
  height:10px;

  text-align:center;

  border-radius:4px;
}

.cart-info{
  position:absolute;
  top:5rem;
  left:-15rem;
  z-index: 5;

  width:28rem;
  height:18rem;
  border-radius:10px;

  background:#FFFFFF;

  color:#000000;

  text-align:left;

  box-shadow:1px 15px 20px 1px rgba(0,0,0,0.2);

  animation: show-from-cart 1s;
}
.cart-info h3{
  padding:1.5rem 0 1.8rem 1.5rem;

  font-size:1.2rem;
  font-weight:700;

  border-bottom:2px solid var(--light-grayish-blue);
}
.cart-product{
  display:grid;
  gap:1.5rem;

  padding:2rem;
}
.cart-product > div{
  display:flex;
  align-items:center;
  gap:1rem;
  
}
.cart-product > div > img:nth-child(1){
  width:50px;
  border-radius:8px;
}
.cart-product > div > img:nth-child(3){
  height:12px;
}
.empty-cart{
  height:8rem;

  color:var(--dark-grayish-blue);
  font-size:1rem;
  font-weight:700;

  justify-self: center;
  align-self: center;
}

.cart-product-info p{
  font-size:1.2rem;
  line-height:1.9rem;
  color:var(--dark-grayish-blue);
}
.cart-total{
  font-weight:700;
  color:black;
}

#checkout-btn{
  height:3.3rem;

  background:var(--orange);
  border:none;
  border-radius:5px;

  font-size:1rem;
  color:var(--light-grayish-blue)
}

.info-user > img {
  width:5rem;

  border-radius:9999px;

  transition: border 0.4s;
}

.info-user > img:hover{
  border:2px solid var(--orange);
  cursor:pointer;

  transition: border 0.3s;
}

@media(max-width:800px){
  header{
    width:100%;
    justify-self: unset;
  }
}

@media(max-width:625px){
  header{
    height:7rem;
  }
  .menu{
    display: block;
  }
  .header-list{
    margin:5rem 0 0 0;

    display: none;

    flex-direction:column;
    gap:2rem;

    align-items:flex-start;
  }
  .header-list li{
    padding:0;
    font-weight:700;
  }
  nav{
    display: grid;
    
    justify-content: unset;
  }
  header > img{
    height: 2.3rem;
  }
  .info-user > img {
    width: 3.5rem;
  }
  .info-user{
    justify-self: flex-end;
  }

  .cart-info{
    position:fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);

    animation:comesUp 1s;
  }
}

@keyframes left-to-right {
  0%{
    opacity: 0;
    transform: translateX(-300px);
  }
  50%{
    opacity:0.4;
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes show-from-cart{
  0%{
    opacity:0;
    transform: translateY(-150px) scale(0);
  }
  100%{
    opacity:1;
    transform: translateY(0) scale(1);
  }
}

@keyframes comesUp{
  0%{
    opacity:0;
    transform:translateY() scale(0);
  }
  100%{
    opacity:1;
    transform:translateY() scale(1);
  }
}