main{
  max-width:1300px;

  justify-self:center;

  display:flex;
  gap:clamp(1rem, 1.5rem + 5vw, 10rem);

  padding:0 2rem;
}

aside{
  max-width:55rem;
  max-height:60rem;

  display:flex;
  flex-direction:column;
  gap:3rem;
}

.main-img-container,
.mini-img{
  display:flex;
  max-width:45rem;
}

.main-img-container{
  position:relative;
}

.icon-container{
  position:absolute;

  display:none;

  background:#FFFFFF;

  width:40px;
  height:40px;

  border-radius:999px;
}

.icon-container > svg{
  width:10px;
  height:13px;
 
  justify-self: center;
  align-self: center;
 }
 .icon-container:hover{
  cursor:pointer;
 }
 .icon-container:hover > svg path{
    stroke:var(--orange);
 }

.previous{
    left: 5%;
    top: 50%;
    transform: translate(-5%,-50%);
}
.next{
  right: 5%;
  top: 50%;
  transform: translate(-5%,-50%);
}

.main-img-container > img{
  width:100%;

  border-radius:1.5rem;
}

.mini-img{
  justify-content:space-between;
  gap:0.5rem;
}
.mini-img > img{
  max-width:clamp(6rem, 6rem + 4vw,9.8rem);
  border-radius:1rem;
}

#main-image:hover,
.thumb:hover{
  cursor:pointer;
}
.selected{
  border:3px solid var(--orange);
  filter:contrast(0.5);
}

section{
  margin-top:5rem;
  max-width:60rem;
  
  display:flex;
  flex-direction:column;

  gap:clamp(0rem, 0.2rem + 1vw, 2rem);
}

section h6{
  color:var(--orange);
  font-size:1.3rem;
  text-transform: uppercase;
}

section h1{
  font-size:clamp(1rem, 6vw, 4.5rem);
  line-height:4.3rem;

  margin-bottom:clamp(0rem, 0.5rem + 1vw, 2rem);
}

section p{
  color:var(--dark-grayish-blue);
  font-size:clamp(1rem, 1.0rem + 1vw, 2.0rem);
  line-height:clamp(1rem, 1.0rem + 2vw, 2.7rem);

  max-width:55rem;
}

.unit-price{
  display:flex;
  flex-direction:column;
  gap:1rem;

  margin-bottom:clamp(0rem, 0.5rem + 1vw, 2rem);
}

section h3{
  display:flex;
  align-items: center;

  font-size: 2.5rem;
}

section .price{
  margin-right:1.2rem;
}
section .discount{
  font-size:1.3rem;

  color:var(--orange);
  background:var(--pale-orange);

  padding:0.1rem 0.6rem;
  border-radius:3px;
}

section .total-price{
  color:var(--grayish-blue);

  text-decoration: line-through;
}

.section-btns{
  max-width:55rem;
  height:5rem;
  display:grid;
  grid-template-columns: 1fr 2fr;

  gap:2rem;
}

#quant-add-cart{
  display:flex;
  align-items:center;
  justify-content:space-between;


  padding:0 1.2rem;
  border-radius:8px;

  background:var(--light-grayish-blue);
}
#quant-add-cart > img{
  object-fit:none;
}

section #btn-add-cart{
  font-size:1.3rem;
  color:var(--light-grayish-blue);
  background:var(--orange);

  border-radius:8px;
  border:none;
}

section #btn-add-cart img{
  width:1.5rem;

  margin-right:5px;
}

@media(max-width:800px){
  section{
    margin-top:0rem;
  }
  .section-btns{
    grid-template-columns: 1fr;
    gap:0.5rem;

    height:10rem;
  }
}

@media(max-width:625px){
  main{
  flex-direction:column;
  align-items: center;

  padding:unset;
 }
  section{
    padding:0 2rem;
 }
 aside{
  align-items:center;
 }
 .main-img-container{
  max-width:62.5rem;
  width: 100vw;
 }
 .main-img-container > img{
  border-radius:unset;
  height:350px;

  object-fit:cover;
  object-position: center;
 }
 .icon-container{
  display:grid;
 }
  .mini-img{
  display:none;
 }
  .unit-price{
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
 }
}

@keyframes showsUp{
  0%{
    opacity:0;
   
  }
  100%{
    opacity:1;
   
  }
}